<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391490568950-or37ivee2lf3hhmd5tl318pns8ms9eoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391490568950-or37ivee2lf3hhmd5tl318pns8ms9eoq</string>
	<key>API_KEY</key>
	<string>AIzaSyCdI3kg1PGvy00zttaoR4NBMgWqeHN-QTA</string>
	<key>GCM_SENDER_ID</key>
	<string>391490568950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.explorecampsites.app.world</string>
	<key>PROJECT_ID</key>
	<string>xplore-220211</string>
	<key>STORAGE_BUCKET</key>
	<string>xplore-220211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391490568950:ios:0958228a46f5d083</string>
	<key>DATABASE_URL</key>
	<string>https://xplore-220211.firebaseio.com</string>
</dict>
</plist>
